.logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Inter";

    width: 400px;
    height: 250px;
    margin: 30vh 40%;
    border-radius: 1px;
    background: white;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
}

.logout-btn {
    min-width: 200px;
    padding: 20px 30px;
    margin-top: 25px;
    background-color: black;
    border: none;
    color: white;
    font-size: 14px;
    font-family: "Inter";
    border-radius: 3px;

}

.user-name {
    color: pink;
}